/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

ol, ul {
	list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

* {
  padding: 0;
  margin: 0;
}

textarea:focus, input:focus{
  outline: none;
}

/* BASE STYLES */
html {
  font-size: 10px;
}

body {
  background-color: #F8F8F8;
  font-size: 1.2rem;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

p {
  font-size: 2.4rem;
}

h1 {
  font-size: 5.2rem;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 5.2rem;
  font-weight: 700;
  text-align: center;
  color: #004A80;
}

h3 {
  font-size: 3.2rem;
  color: #004A80;
  font-weight: 700;
}

h4 {
  font-size: 2.2rem;
  color: #004A80;
  font-weight: 700;
}

.wrapper {
  max-width: 980px;
  margin: 0 auto;
}

#blue {
  background-color: #004A80;
}

/* HEADER */

header {
  padding: 2rem 0;
  background-color: #004A80;
}

.header__brand img {
  width: 17.3rem;
  height: 2.5rem;
}

.header__items img:nth-child(1) {
  margin-left: 2rem;
}

/* SEARCH */

.search {
  color: #fff;
}

.search.results {
  background-color: #004A80;
  padding-top: 10.5rem;
}

.search__title {
  padding-top: 5rem;
  margin-bottom: 1.5rem;
}

.search__subtitle {
  font-size: 2.4rem;
  text-align: center;
  line-height: 2.9rem;
  margin-bottom: 2.9rem;
}

#search__form {
  margin-bottom: 3rem;
}

.form__container {
  width: 100%;
}

#form__input {
  height: 100%;
  height: 7rem;
  border-radius: 3px;
  box-shadow: inset 0 -1px 4px 0 rgba(0,0,0,0.20);
  padding-left: 1.2rem;
  font-family: Helvetica, Neue-Bold;
  font-size: 1.6rem;
  border: none;
}

::placeholder {
  color: #9B9B9B;
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: .2rem;
}

#form__input.input--error {
  border: 3px solid red;
  border-radius: 3px 3px 3px 0;
}

#form__send {
  width: 18rem;
  margin-left: 2rem;
  height: 7rem;
  border-radius: 3px;
  border: none;
}

.search__footer {
  padding-bottom: 9.5rem;
}

.search__footer p {
  text-align: left;
  font-size: 1.6rem;
}

.search__footer img {
  margin-right: 1.5rem;
}

.form__error {
  display: none;
  font-size: 1.6rem;
  padding: .7rem 1.2rem;
  background-color: #DC0015;
}

.show--error {
  display: inline-block;
}

/* BODY */

.body {
  background-image: linear-gradient(0deg, #E6E6E6 0%, #FFFFFF 100%);
}

.body h2 {
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.body p {
  font-size: 2.2rem;
  color: #4A4A4A;
  line-height: 3rem;
}

.points {
  max-width: 1040px;
  margin: 0 auto;
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.points .point:nth-child(odd){
  padding-right: 6rem;
  padding-left: 0;
}

.point {
  width: 50%;
  padding-left: 6rem;
  margin-bottom: 3rem;
}

.point__right p {
  font-size: 1.8rem;
  margin-top: .8rem;
}

.point .b-circle {
  margin-right: 2rem;
}

/* FOOTER */

footer {
  margin: 1.4rem 13rem;
}

.footer__text {
  width: 70%;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #999;
}

.footer__links {
  font-size: 1.4rem;
  font-weight: 700;
  color: #004A80;
  text-decoration: none;
}

/* LOADING */

.loading {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* RESULTS */

#results {
  min-height: 40rem;
  margin: 3rem 0 6rem 0;
}

.results__container {
  width: 100%;
}

.results__title {
  text-align: center;
  margin-bottom: 1.5rem;
}

.results__subtitle {
  text-align: center;
  color: #4A4A4A;
}

/* PERSON */
.person {
  margin: 3rem 0 0 0;
  padding: 4rem;
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  border-radius: 30px;
}

.person .b-circle {
  margin-right: 2rem;
}

.b-circle img {
  width: 4rem;
  height: 4.6rem;
}

.person p {
  font-size: 1.8rem;
  margin-top: .5rem;
  line-height: 2.6rem;
}

.card__details {
  margin-top: 2rem;
}

.card__element {
  width: 50%;
  padding-left: 2.5rem;
}

.card__details .card__element:nth-child(odd){
  padding-left: 0;
  padding-right: 2.5rem;
}

.card__details .card__element:nth-child(-n+2){
  margin-bottom: 2rem;
}

.person ul {
  margin-top: .5rem;
  font-size: 1.8rem;
  line-height: 2.6rem;
}

.card__numbers__elements {
  color: #004A80;
}

/* MISC */

.show {
  display: block;
}

.hide {
  display: none;
}

.b-circle {
  height: 9rem;
  width: 9rem;
  background-color: #004A80;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.b-circle p {
  font-weight: 700;
  color: #F6BC25;
  font-size: 4.8rem;
}

.secondary-text {
  color: #F6BC25;
  font-weight: 700;
}

.btn-search {
  background-image: linear-gradient(225deg, #F2DA56 0%, #F6BC25 100%);
  box-shadow: 0 3px 0 0 #A6953B, inset 0 1px 0 0 #FFFFFF;
  color: #004A80;
  font-size: 2.4rem;
  font-weight: 700;
}

.btn-search:hover {
  background: #F2DA56;
  box-shadow: 0 3px 0 0 #A6953B, inset 0 1px 0 0 #FFFFFF;
}

.btn-search:active {
  background: #F6BC25;
  box-shadow: 0 3px 0 0 #A6953B, inset 0 1px 0 0 #FFFFFF;
}

@media(max-width: 1200px){

  h1, h2 {
    font-size: 4.8rem;
  }

  h4 {
    font-size: 2.0rem;
  }

  p {
    font-size: 2.0rem;
    line-height: 2.4rem;
  }

  .wrapper {
    margin: 0 2.5rem;
  }

  .search__footer {
    padding-bottom: 6rem;
  }

  .body p {
    font-size: 2.0rem;
  }

  .point__right p {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .b-circle p {
    font-size: 3.4rem;
  }

  .points {
    margin: 0 2.5rem;
  }

  .point {
    padding: 0;
  }

  .points .point:nth-child(odd){
    padding-right: 2.4rem;
    padding-left: 0;
  }
  
  footer {
    margin: 1.4rem 2.5rem;
  }

  .footer__text {
    width: 80%;
  }

  .person p {
    font-size: 1.6rem;
  }

  .search.results {
    padding-top: 5.7rem;
    padding-bottom: 4.7rem;
  }
}

@media(max-width: 600px){
  h1, h2 {
    font-size: 3.8rem;
  }

  .search__title {
    padding-top: 1rem;
  }

  p {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  #form__input {
    width: 100%;
  }
  
  #form__send {
    width: 100%;
    margin: 1rem 0 0 0;
  }

  #search__form {
    flex-direction: column;
  }

  .search__footer {
    padding-bottom: 4rem;
  }

  .show--error {
    display: block;
  }

  .body p {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  .point {
    width: 100%;
  }

  .points {
    padding: 0;
    padding-top: 2rem;
  }

  .points .point:nth-child(odd){
    padding: 0;
  }

  .b-circle {
    height: 5rem;
    width: 5rem;
  }

  .point .b-circle {
    margin-right: 1rem;
  }

  .b-circle p {
    font-size: 2.7rem;
  }

  footer {
    flex-direction: column;
    margin-bottom: 0;
  }

  .footer__text {
    width: 100%;
  }

  .footer__links {
    padding-top: 2rem;
    padding-bottom: 2.5rem;
  }

  .card__image {
    display: none;
  }

  .card__details {
    flex-direction: column;
  }

  .person {
    margin: 1.5rem 0;
    padding: 2.5rem 1.5rem;
  }

  .card__element {
    width: 100%;
    padding-left: 0;
  }
  
  .card__details .card__element:nth-child(odd){
    padding-right: 0;
  }

  .card__details .card__element:nth-child(-n+3){
    margin-bottom: 1.5rem;
  }

  #results {
    min-height: 40rem;
    margin: 3rem 0 1.5rem 0;
  }

  .results__subtitle {
    text-align: left;
  }

  .search.results {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}